<h1>Lines#index</h1>
<% @stations["response"]["station"].each do |station| %>
  <%= link_to station["name"], station_path(1, x:station["x"], y:station["y"]) %>
<% end %>


<!-- 個別の駅へのpathを設定（idを付与しないといけない） -->