<div class="about">
	<div class="point">
	    <p>ポイント1</p>
	</div>
	<div class="a-towns">
		<h1>Townsとは？</h1>
		<h3 class="a-info">駅をテーマにした街の情報口コミサイトです！
		</h3>
	</div>
</div>
<div class="about">
	<div class="point2">
	    <p>ポイント2</p>
	</div>
	<div class="a-towns">
		<h1>駅の口コミ情報の閲覧</h1>
		<h3 class="a-info">都道府県の路線から駅を検索し<br>
			治安情報などを見ることができます！
		</h3>
	</div>
</div>
<div class="about">
	<div class="point3">
	    <p>ポイント3</p>
	</div>
	<div class="a-towns">
		<h1>駅への口コミ投稿</h1>
		<h3 class="a-info">あなたが住んだことがある駅・街への<br>
			口コミが投稿できます！
		</h3>
	</div>
</div>








