/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";





/* ヘッダー・フッター開始 */
.image {
  background-image: image-url('/assets/images/backimage.jpg');
  background-size: cover;
  background-position: top;
}

.image a {
    color: black;
    text-align: center;
}

.footer {
  background-image: image-url('/assets/images/footerimage.jpg');
  background-size: cover;
  background-position: center;
  margin-top: auto;
  height: 110px;
}

.footer p {
    line-height: 110px;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}



/* ヘッダー・フッター終了 */





/* 初めての方ページ開始 */
.about {
    display: flex;
    justify-content: center;
    margin: 60px 0 60px 0;
}

.a-towns {
    line-height: 160px;
    margin-left: 200px;
}

.a-info {
    width: 520px;
}

.point {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 0 5px;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  background: #ff8e9d;
  border-radius: 50%;
  box-sizing: border-box;
  width: 120px;
  height: 90px;
}

.point:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #ff8e9d;
  z-index: 0;
}

.point2 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 0 5px;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  background: #70a6ff;
  border-radius: 50%;
  box-sizing: border-box;
  width: 120px;
  height: 90px;
}

.point2:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #70a6ff;
  z-index: 0;
}

.point3 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 0 5px;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  background: #a4eb84;
  border-radius: 50%;
  box-sizing: border-box;
  width: 120px;
  height: 90px;
}

.point3:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #a4eb84;
  z-index: 0;
}
/* 初めての方ページ終了 */





/* トップページ開始 */
/* 日本地図DOM */
.japan_map{
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    display: table;
    background-color: white;
}
/* 日本地図画像（スマホ対応用） */
.japan_map img{
    max-width: 100%;
    height: auto;
    border: 0;
    -webkit-backface-visibility: hidden;
}
/* 日本地図ボタン */
.japan_map .area_btn{
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    cursor: pointer;
    border: 3px solid #333333;
    border-radius: 5px;
    background-color: #FFF;
    padding: 0.2em auto;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

/* ボタン配置（使用する日本地図画像により微調整） */
.japan_map .area_btn.area1{
    top: 30%;
    right: 5%;
    width: 30%;
}
.japan_map .area_btn.area2{
    top: 58%;
    right: 11%;
    width: 13%;
}
.japan_map .area_btn.area3{
    top: 56%;
    right: 27.5%;
    width: 13%;
}
.japan_map .area_btn.area4{
    top: 65%;
    right: 44%;
    width: 13%;
}
.japan_map .area_btn.area5{
    top: 52%;
    left: 20%;
    width: 25%;
}
.japan_map .area_btn.area6{
    top: 70%;
    left: 0;
    width: 25%;
}
/* オーバーレイ */
.japan_map .area_overlay{
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-color: #111;
    opacity: 0.5;
    cursor: pointer;
}

/* 選択前は表示を隠す */
.japan_map .pref_area{
    display: none;
}

/* 地域毎の都道府県リスト */
.japan_map .pref_list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    z-index: 3;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 90%;
    background-color: #FFF;
}
.japan_map .pref_list > div{
    box-sizing: border-box;
    width: 50%;
    border: 1px solid #CCC;
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
    cursor: pointer;
}

@media screen and (max-width: 480px){
    /* スマホユーザー向けにボタン文字サイズを調整 */
    .japan_map .area_btn{
        font-size: 4vw;
    }
}

.japan_map {
    margin-top: 50px;
}

.japan_map img {
    border: solid 1px black;
    padding: 3px;
}

.container .japan_map .prefecture {
  display: flex;
}

.prefecture {
    padding: 15px;
    margin-left: 50px;
}

.prefecture h4 {
    padding: 20px 0;
}

.prefecture ul {
    padding-left: 0px;
}

.prefecture li {
    display: inline;
}

.japan_prefecture {
  display: flex;
  justify-content: space-between;
}

.topsub {
    border: solid 5px #87cefa;
    border-radius: 50px;
    padding: 13px;
    font-size: 30px;
    text-align: center;
    font-family: 'Corben', cursive;
}

.topsub {
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 1px #96c2fe;
  padding: 0.2em 0.5em;
  color: #454545;
}

.topcomment {
    margin-bottom: 50px;
}

.top_comment_info {
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    align-items: center;
    height: 30px;
}

.c_b {
    height: 40px;
    line-height: 40px;
}
/* トップページ終了 */





/* 会員登録開始 */
.regi {
  display: flex;
  justify-content: space-between;
}
/* 会員登録終了*/






/* ログイン開始 */
.log {
  display: flex;
}

.log_link {
    display: flex;
    justify-content: flex-end;
}
/* ログイン終了 */





/* パスワード忘れ開始 */
.passforget {
    margin: 30px 0 0 120px;
}
/* パスワード忘れ終了 */






/* マイページ画面開始 */
.editout {
    display: flex;
    justify-content: space-around;
}
/* マイページ画面終了 */





/* プロフィール編集画面開始 */
.editage  {
    width: 155px;
}

.editfamily {
    width: 155px;
}
/* プロフィール編集画面終了 */





/* 退会画面開始 */
.closeuser {
    text-align: center;
}

.closeuser p {
    margin: 35px 0;
}
/* 退会画面終了 */





/* 路線・駅一覧開始 */
.lineimage {
    margin: 30px 0 10px 0;
}

.lineindex span {
    font-size: 18px;
}

.stationimage {
    margin: 30px 0 10px 0;
}

.stationindex span {
    font-size: 18px;
}
/* 路線・駅一覧終了 */





/* 駅詳細開始 */
.stationnamestar {
    display: flex;
    justify-content: space-around;
    border-top: solid 5px #f0f8ff;
}

.stationnamestar h3 {
    margin: 30px 0 30px;
}

.stationnamestar a {
    margin-top: 30px;
}

.description {
    border-top: solid 5px #f0f8ff;
    margin-bottom: 20px;
}

.d_s_name {
    font-size: 20px;
    padding: 10px 0 0 0;
    width: 720px;
    height: 20px;
}

.d_description {
    font-size: 15px;
}

.smap {
    border:  solid #c5bdb1 3px;
    margin-bottom: 15px;
}

.comment_info > thead > tr > td {
    vertical-align: middle;
}

.select_category {
    margin-bottom: 10px;
}

.select_category select {
    width: 135px;
    height: 25px;
}

.comment_logout {
  -ms-filter: blur(4px);
  filter: blur(4px);
}
/* 駅詳細終了 */





/* 口コミページ開始 */
.commentsub {
    margin: 40px 0px 20px;
}

.comment select {
    width: 135px;
    height: 25px;
}

.comment textarea {
    width: 380px;
    height: 150px;
}

.comment_c  {
    margin-top: 20px;
}

.comment_s {
    margin-top: 20px;
}
/* 口コミページ終了 */